[user]
	name = Vivien Leroy
	email = vivienleroy@me.com
[core]
	quotepath = false
	precomposeunicode = false
	excludesfile = /Users/fantattitude/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/1.9.4/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple

[alias]
	# Show all local and remote branches
	b = branch -avv
	r = remote -vv
	t = tag -l
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	# Remove a file from the staging area
    unstage = reset HEAD
    # Undo the latest commit
    uncommit = reset --soft HEAD^
